:root {
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --black-color: #000000;
  --white-color: #ffffff;
  --primery-color-bg: #ffffff;
  --secondary-color-bg: #2f303a;
  --additional-bg-color: #f5f4fa;
  --focus-button-color: #188ce8;
  --address-color: rgba(255, 255, 255, 0.6);
  --card-set-gap: 30px;
}
/* основний колір тексту   color: #757575;  */
/*другорядний колір тексту color: #212121; */
/*акцент  #2196F3; */
/*білий колір color: #FFFFFF; */
/*чоний колір #000000; */
/*основний колір фону: #2f303a;*/
/*другорядний колір фону: #E5E5E5;*/
/* додатковий колір фону: #f5f4fa; */
/*колір фокусу кнопки: #188ce8;*/
/*колір адресу: rgba(255, 255, 255, 0.6);*/

/*марджин для сітки в портфоліо: 30px*/
body {
  background: var(--primery-color-bg);
  color: var(--primery-text-color);

  font-family: Roboto, sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-color);
}

.logo > span {
  color: var(--accent-color);
}
.header {
  border: 1px solid #ececec;
}
/*Навігація*/
.main-nav {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
}

.site-nav .link:focus,
.site-nav .link:hover {
  color: var(--accent-color);
}
.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
/*Контакти*/

.icon-mail,
.icon-tel {
  margin-right: 10px;
  fill: var(--primery-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icon:hover .icon-tel,
.link-icon:focus .icon-tel,
.link-icon:hover .icon-mail,
.link-icon:focus .icon-mail {
  fill: var(--accent-color);
}
.link-icon {
  display: flex;
  align-items: center;
}
.contacts-list {
  display: flex;
  margin-left: auto;
}
.contacts-list .item + .item {
  margin-left: 50px;
}

.contacts-list .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primery-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--accent-color);
}

/*Герой*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--secondary-color-bg);
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bghero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  margin-bottom: 30px;
  margin-top: 0;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--white-color);
}
.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-color);
  background: var(--accent-color);
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--focus-button-color);
}
/*Переваги*/
.section-preference {
  padding-bottom: 0;
}

.preference {
  display: flex;
}
.preference .item {
  width: 270px;
  margin-right: 30px;
}
.preference .item:nth-child(4n) {
  margin-right: 0;
}

.preference .preference-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.preference .preference-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}

.item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--additional-bg-color);
  border-radius: 4px;
}

/*Чем мы занимаемся*/
.work {
  display: flex;
}
.work .item {
  margin-right: 30px;
}
.work .item:nth-child(3n) {
  margin-right: 0;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  color: var(--secondary-text-color);
}

.work-item {
  position: relative;
}
.work-title {
  position: absolute;
  position: absolute;
  bottom: 0;
  display: block;
  padding: 27px 80px;

  width: 370px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  height: 70px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}
/*Наша команда*/
.section-team {
  background: var(--additional-bg-color);
}
.section-list {
  display: flex;
}
.section-list .item {
  margin-right: 30px;
  background-color: var(--white-color);
}
.section-list .item:nth-child(4n) {
  margin-right: 0;
}
.item-box {
  padding: 30px 32px;
}
.section-list .title-list {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}
.section-list .title-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.social-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 16px;
}
.social-link {
  height: 44px;
  width: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link .social-icon {
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--white-color);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.box-shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/*Постоянные клиенты*/
.clients-list {
  display: flex;
  justify-content: space-between;
}
.clients-item {
  display: flex;
  display: block;
}

.clients-link {
  outline: none;
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}
.client-icon {
  display: block;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .client-icon,
.clients-link:focus .client-icon {
  fill: var(--accent-color);
}
/*Футер*/
.footer {
  background: var(--secondary-color-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
  text-decoration: none;
}

.logo-footer > span {
  color: var(--accent-color);
}
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: var(--white-color);
  margin-top: 20px;
}
.contacts {
  margin-top: 9px;
}
.contacts .item {
  margin-top: 9px;
}
.contacts .link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: var(--address-color);
}
.footer-title-link {
  font-weight: 700px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.social-container {
  margin-left: 70px;
}
.footer-list {
  margin-top: 32px;
  padding: 0;
}
.footer-list .social-item {
  margin-right: 10px;
}
.footer-list .social-item:nth-child(4n) {
  margin-right: 0;
}
.social-link .icon-footer {
  fill: var(--white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: #2196f3;
}
.footer-link:hover .icon-footer,
.footer-link:focus .icon-footer {
  fill: var(--white-color);
}

.subscribe {
  margin-left: 94px;
}

.subscribe-title {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-form {
  display: flex;
  padding: 0;
  margin-top: 20px;
}

.subscribe-input {
  padding-left: 12px;
  width: 358px;
  height: 50px;

  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.87;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.submit {
  display: flex;
  align-items: center;
  padding-left: 29px;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.submit-svg {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

/*portfolio*/
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-list .item {
  margin-right: 8px;
}
.button-list .item:last-child {
  margin-right: 0;
}
.button-list .button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--secondary-text-color);
  background: var(--additional-bg-color);
  cursor: pointer;
  text-align: center;
  padding: 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.button-list .button:hover,
.button-list .button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.img-list .link {
  text-decoration: none;
}

.img-list .title {
  font-size: 18px;
  line-height: 2;
  color: var(--secondary-text-color);
}

.img-list .text {
  font-size: 16px;
  line-height: 1.86;
  color: var(--primery-text-color);
}

.img-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}
.img-list .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}
.link-card {
  display: block;
  text-decoration: none;
  outline: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-card:hover,
.link-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.card .title {
  margin: 0 0 9px 0;
}
.portfolio-image {
  position: relative;
  display: flex;
  overflow: hidden;
}
.text-image {
  position: absolute;
  padding: 0px 24px;
  margin: 0;
  display: flex;
  align-items: center;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 294px;
  font-size: 18px;
  line-height: 1.56;

  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-card:hover .text-image,
.link-card:focus .text-image {
  transform: translate(0, 0);
}
/*Модальне вікно*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal {
  padding: 40px;
  min-width: 448px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.icon-close {
  fill: var(--black-color);
  fill: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover .icon-close {
  fill: var(--accent-color);
}
.form-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}
.form-list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-input {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 42px;
}
.form-image {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.textarea-text,
.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;

  color: var(--primery-text-color);
}
.form-textarea {
  font-weight: 400;
  font-size: 14px;
  outline: none;
  padding: 16px 12px;

  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
textarea,
input {
  padding: 0;
}
.form-list:focus-within > .form-image {
  fill: var(--accent-color);
}

.form-list:focus-within > .form-input,
.form-list:focus-within > .form-textarea {
  border-color: var(--accent-color);
}
.form-textarea,
.form-input {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-mailing {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checbox {
  position: absolute;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  width: 15px;
  height: 15px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}
.text-confirm {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}
.mailing-link {
  color: var(--accent-color);
  text-decoration-line: underline;
}

.button-send {
  display: block;
  margin: 0 auto;
  padding: 10px 56px 10px 55px;

  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  margin-top: 30px;

  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.button-send:hover,
.button-send:focus {
  background: #188ce8;
}
